<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		
		<!--add name="Myconn" connectionString="Data Source=DESKTOP-JDV6ILK\SQLEXPRESS;Initial Catalog=tourismDatabase;Integrated Security=True"/>-->
		<add name="Myconn" connectionString="Data Source=ALI\SQLEXPRESS;Initial Catalog=tourismDatabase;Integrated Security=True"/>
		<!--add name="Myconn" connectionString="Data Source=LOQ-15\SQLEXPRESS;Initial Catalog=tourismDatabase;Integrated Security=True"/>-->
		 <add name="TravelEase.Properties.Settings.tourismDatabaseConnectionString"
  connectionString="Data Source=DESKTOP-JDV6ILK\SQLEXPRESS;Initial Catalog=tourismDatabase;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>

